In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
link = 'https://drive.google.com/file/d/1ugeBtBckwyxNbr1UtfxSOdY7fA-KZa4w/view?usp=sharing'

In [ ]:
# to get the id part of the file
id = link.split("/")[-2]
 
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('Survey_Results_Dec.csv') 
 
df = pd.read_csv('Survey_Results_Dec.csv')
print(df)

                                            StartDate  \
0                                          Start Date
1   {"ImportId":"startDate","timeZone":"America/De...
2                                 2022-04-19 04:25:25
3                                 2022-04-19 04:25:44
4                                 2022-04-20 05:33:47
5                                 2022-04-24 10:17:37
6                                 2022-04-25 08:08:10
7                                 2022-04-25 08:04:55
8                                 2022-04-25 10:17:41
9                                 2022-04-25 14:28:28
10                                2022-04-21 06:07:42
11                                2022-04-29 10:17:14
12                                2022-04-29 10:19:30
13                                2022-04-29 11:02:56
14                                2022-04-29 11:01:44
15                                2022-04-30 03:15:41
16                                2022-04-24 10:05:32
17                                2022-04-24 10:16:51
18                                2022-04-27 19:50:35
19                                2022-04-24 09:58:02

                                              EndDate                 Status  \
0                                            End Date          Response Type
1   {"ImportId":"endDate","timeZone":"America/Denv...  {"ImportId":"status"}
2                                 2022-04-19 04:25:29                      1
3                                 2022-04-19 04:25:57                      1
4                                 2022-04-20 05:33:56                      0
5                                 2022-04-24 10:31:00                      0
6                                 2022-04-25 08:33:12                      0
7                                 2022-04-25 08:34:25                      0
8                                 2022-04-25 10:50:07                      0
9                                 2022-04-25 15:06:55                      0
10                                2022-04-21 06:08:55                      8
11                                2022-04-29 10:41:40                      0
12                                2022-04-29 11:01:05                      0
13                                2022-04-29 11:35:29                      0
14                                2022-04-29 11:53:57                      0
15                                2022-04-30 03:40:44                      0
16                                2022-04-24 10:05:49                      0
17                                2022-04-24 10:24:51                      0
18                                2022-04-27 19:50:44                      0
19                                2022-04-30 03:42:59                      0

                   IPAddress                 Progress  \
0                 IP Address                 Progress
1   {"ImportId":"ipAddress"}  {"ImportId":"progress"}
2                        NaN                      100
3                        NaN                      100
4              137.56.20.171                      100
5             89.205.141.148                      100
6              62.131.32.247                      100
7              62.131.32.247                      100
8             31.187.179.182                      100
9              137.56.35.159                      100
10             84.24.198.138                        1
11             109.226.17.92                      100
12               78.19.219.9                      100
13              104.28.40.71                      100
14             62.238.133.58                      100
15             81.207.230.63                      100
16              137.56.23.68                        1
17              137.56.23.68                       14
18             78.186.46.191                        1
19             81.207.230.63                        3

      Duration (in seconds)                 Finished  \
0     Duration (in seconds)                 Finished
1   {"ImportId":"duration"}  {"ImportId":"finished"}
2                         4                        1
3                        13                        1
4                         9                        1
5                       802                        1
6                      1502                        1
7                      1770                        1
8                      1945                        1
9                      2306                        1
10                       72                        0
11                     1465                        1
12                     2495                        1
13                     1953                        1
14                     3133                        1
15                     1502                        1
16                       17                        0
17                      479                        0
18                        9                        0
19                   495896                        0

                                         RecordedDate  \
0                                       Recorded Date
1   {"ImportId":"recordedDate","timeZone":"America...
2                                 2022-04-19 04:25:30
3                                 2022-04-19 04:25:58
4                                 2022-04-20 05:33:57
5                                 2022-04-24 10:31:00
6                                 2022-04-25 08:33:13
7                                 2022-04-25 08:34:26
8                                 2022-04-25 10:50:07
9                                 2022-04-25 15:06:56
10                                2022-04-28 06:09:03
11                                2022-04-29 10:41:40
12                                2022-04-29 11:01:05
13                                2022-04-29 11:35:29
14                                2022-04-29 11:53:57
15                                2022-04-30 03:40:44
16                                2022-05-01 10:05:53
17                                2022-05-01 10:24:56
18                                2022-05-04 19:50:45
19                                2022-05-07 03:48:20

                  ResponseId                 RecipientLastName  ...  \
0                Response ID               Recipient Last Name  ...
1   {"ImportId":"_recordId"}  {"ImportId":"recipientLastName"}  ...
2          R_3ekJitbOoG54SfQ                               NaN  ...
3          R_z0GGnnFHZdjfCRX                               NaN  ...
4          R_2wU1oMFUpFxux2J                               NaN  ...
5          R_2VKOzNnRtmxaEgZ                               NaN  ...
6          R_3G1jwvPdqOaNDep                               NaN  ...
7          R_1hDXgGLLORnsaNJ                               NaN  ...
8          R_0cZSb0FB4cYHZtv                               NaN  ...
9          R_3sppwMCnNyiwPpZ                               NaN  ...
10         R_1pMAEv7eSwPNxu9                               NaN  ...
11         R_Qmg1ijy6lV4D6tX                               NaN  ...
12         R_2taRSSpZQKyjmQ3                               NaN  ...
13         R_1FyvQ3pRNLJ1sOo                               NaN  ...
14         R_OrHc1cizbOSqQ8N                               NaN  ...
15         R_vYQP7NQJCIfCSyJ                               NaN  ...
16         R_OGTbbgez1tA9OeZ                               NaN  ...
17         R_1Qmzz0llCmBNP98                               NaN  ...
18         R_Df9Tq1ya5cqZXBD                               NaN  ...
19         R_3gNoKqJpKrFoSsj                               NaN  ...

                                                  Q91  \
0   If Russia thinks they're just casually going t...
1                                {"ImportId":"QID90"}
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                   2
6                                                   3
7                                                   3
8                                                   1
9                                                   2
10                                                NaN
11                                                  3
12                                                  2
13                                                  2
14                                                  3
15                                                  1
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN

                                                  Q92  \
0   ðŸ‡ºðŸ‡¸ðŸ‡·ðŸ‡º â€” WATCH: Russian President Vladimir Putin...
1                                {"ImportId":"QID91"}
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                   2
6                                                   3
7                                                   2
8                                                   2
9                                                   2
10                                                NaN
11                                                  3
12                                                  2
13                                                  1
14                                                  3
15                                                  2
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN

                                                  Q93  \
0   @NBCNews If Tyrant Biden handles this the way ...
1                                {"ImportId":"QID92"}
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                   3
6                                                   3
7                                                   3
8                                                   3
9                                                   3
10                                                NaN
11                                                  3
12                                                  3
13                                                  3
14                                                  3
15                                                  3
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN

                                                  Q94  \
0   US NAT'L SECURITY ADVISER SULLIVAN Q&A: PRES B...
1                                {"ImportId":"QID93"}
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                   3
6                                                   3
7                                                   3
8                                                   2
9                                                   2
10                                                NaN
11                                                  3
12                                                  2
13                                                  2
14                                                  3
15                                                  1
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN

                                                  Q95  \
0   EXPLAINER: Whatâ€™s Behind Russia-Ukraine Tensio...
1                                {"ImportId":"QID94"}
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                   2
6                                                   2
7                                                   2
8                                                   2
9                                                   2
10                                                NaN
11                                                  2
12                                                  2
13                                                  2
14                                                  2
15                                                  2
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN

                                                  Q96  \
0   "@peterpomeranzev Putin doesn't want to invade...
1                                {"ImportId":"QID95"}
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                   3
6                                                   3
7                                                   3
8                                                   2
9                                                   3
10                                                NaN
11                                                  3
12                                                  2
13                                                  3
14                                                  3
15                                                  3
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN

                                                  Q97  \
0   @JonScottFNC Ukrainians remember The Holodomor...
1                                {"ImportId":"QID96"}
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                   3
6                                                   3
7                                                   2
8                                                   2
9                                                   3
10                                                NaN
11                                                  3
12                                                  3
13                                                  3
14                                                  3
15                                                  3
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN

                                                  Q98  \
0   â€˜Fake newsâ€™ may complicate Putin-Biden talks â€“...
1                                {"ImportId":"QID97"}
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                   2
6                                                   2
7                                                   2
8                                                   2
9                                                   2
10                                                NaN
11                                                  3
12                                                  2
13                                                  2
14                                                  2
15                                                  2
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN

                                                  Q99  \
0   "Russia kept EU busy by instigating a hybrid w...
1                                {"ImportId":"QID98"}
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                   3
6                                                   3
7                                                   2
8                                                   2
9                                                   2
10                                                NaN
11                                                  3
12                                                  3
13                                                  2
14                                                  3
15                                                  2
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN

                                                 Q100
0   Timcast IRL - Biden Threatens US Deployment If...
1                                {"ImportId":"QID99"}
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                   2
6                                                   2
7                                                   2
8                                                   2
9                                                   2
10                                                NaN
11                                                  3
12                                                  2
13                                                  1
14                                                  3
15                                                  3
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN

[20 rows x 120 columns]

In [ ]:
#remove missing values (empty survey responses)
df = df.dropna(subset=['Q100'])

In [ ]:
#df['Q1']

results = df.loc[:, df.columns.str.startswith('Q')]

In [ ]:
results = results.drop([1])

In [ ]:
#switch rows as columns and columns as rows for fleiss kappa formula
results_transposed = results.transpose

In [ ]:
results_transposed

<bound method DataFrame.transpose of                                                    Q1  \
0   "Tucker Carlson seem to have forgotten that Ru...
5                                                   3
6                                                   3
7                                                   3
8                                                   3
9                                                   3
11                                                  3
12                                                  1
13                                                  3
14                                                  3
15                                                  3

                                                   Q2  \
0   "Analysis: Would Putin get away with invading ...
5                                                   2
6                                                   3
7                                                   3
8                                                   2
9                                                   2
11                                                  3
12                                                  3
13                                                  3
14                                                  3
15                                                  2

                                                   Q3  \
0   "Kiev, Ukraine - Ukrainian defense officials s...
5                                                   2
6                                                   2
7                                                   2
8                                                   2
9                                                   2
11                                                  2
12                                                  2
13                                                  3
14                                                  3
15                                                  2

                                                   Q4  \
0   Russia-Ukraine tensions: why Russia is putting...
5                                                   2
6                                                   3
7                                                   3
8                                                   2
9                                                   2
11                                                  3
12                                                  2
13                                                  3
14                                                  3
15                                                  2

                                                   Q5  \
0   @ManMadeMoon I donâ€™t think itâ€™s that deep. I t...
5                                                   3
6                                                   3
7                                                   3
8                                                   3
9                                                   3
11                                                  3
12                                                  1
13                                                  3
14                                                  3
15                                                  3

                                                   Q6  \
0   @redsteeze Is he selling the Ukraine to Russia...
5                                                   3
6                                                   3
7                                                   3
8                                                   3
9                                                   2
11                                                  3
12                                                  3
13                                                  3
14                                                  3
15                                                  2

                                                   Q7  \
0   "Russia positions more forces, supply lines as...
5                                                   2
6                                                   2
7                                                   2
8                                                   2
9                                                   2
11                                                  3
12                                                  3
13                                                  3
14                                                  3
15                                                  2

                                                   Q8  \
0   U.S. Intelligence Sees Russian Plan for Possib...
5                                                   2
6                                                   2
7                                                   2
8                                                   2
9                                                   2
11                                                  3
12                                                  1
13                                                  3
14                                                  3
15                                                  2

                                                   Q9  \
0   President Joe Biden threatened to strike Russi...
5                                                   2
6                                                   3
7                                                   2
8                                                   2
9                                                   2
11                                                  3
12                                                  1
13                                                  3
14                                                  1
15                                                  2

                                                  Q10  ...  \
0   "Look who was Putin's puppet all along?\n"Admi...  ...
5                                                   3  ...
6                                                   3  ...
7                                                   3  ...
8                                                   2  ...
9                                                   2  ...
11                                                  3  ...
12                                                  1  ...
13                                                  2  ...
14                                                  3  ...
15                                                  3  ...

                                                  Q91  \
0   If Russia thinks they're just casually going t...
5                                                   2
6                                                   3
7                                                   3
8                                                   1
9                                                   2
11                                                  3
12                                                  2
13                                                  2
14                                                  3
15                                                  1

                                                  Q92  \
0   ðŸ‡ºðŸ‡¸ðŸ‡·ðŸ‡º â€” WATCH: Russian President Vladimir Putin...
5                                                   2
6                                                   3
7                                                   2
8                                                   2
9                                                   2
11                                                  3
12                                                  2
13                                                  1
14                                                  3
15                                                  2

                                                  Q93  \
0   @NBCNews If Tyrant Biden handles this the way ...
5                                                   3
6                                                   3
7                                                   3
8                                                   3
9                                                   3
11                                                  3
12                                                  3
13                                                  3
14                                                  3
15                                                  3

                                                  Q94  \
0   US NAT'L SECURITY ADVISER SULLIVAN Q&A: PRES B...
5                                                   3
6                                                   3
7                                                   3
8                                                   2
9                                                   2
11                                                  3
12                                                  2
13                                                  2
14                                                  3
15                                                  1

                                                  Q95  \
0   EXPLAINER: Whatâ€™s Behind Russia-Ukraine Tensio...
5                                                   2
6                                                   2
7                                                   2
8                                                   2
9                                                   2
11                                                  2
12                                                  2
13                                                  2
14                                                  2
15                                                  2

                                                  Q96  \
0   "@peterpomeranzev Putin doesn't want to invade...
5                                                   3
6                                                   3
7                                                   3
8                                                   2
9                                                   3
11                                                  3
12                                                  2
13                                                  3
14                                                  3
15                                                  3

                                                  Q97  \
0   @JonScottFNC Ukrainians remember The Holodomor...
5                                                   3
6                                                   3
7                                                   2
8                                                   2
9                                                   3
11                                                  3
12                                                  3
13                                                  3
14                                                  3
15                                                  3

                                                  Q98  \
0   â€˜Fake newsâ€™ may complicate Putin-Biden talks â€“...
5                                                   2
6                                                   2
7                                                   2
8                                                   2
9                                                   2
11                                                  3
12                                                  2
13                                                  2
14                                                  2
15                                                  2

                                                  Q99  \
0   "Russia kept EU busy by instigating a hybrid w...
5                                                   3
6                                                   3
7                                                   2
8                                                   2
9                                                   2
11                                                  3
12                                                  3
13                                                  2
14                                                  3
15                                                  2

                                                 Q100
0   Timcast IRL - Biden Threatens US Deployment If...
5                                                   2
6                                                   2
7                                                   2
8                                                   2
9                                                   2
11                                                  3
12                                                  2
13                                                  1
14                                                  3
15                                                  3

[11 rows x 102 columns]>

In [ ]:
results_num = results.drop([0])

In [ ]:
results_T = results_num.transpose()

In [ ]:
results_T

     5  6  7  8  9  11 12 13 14 15
Q1    3  3  3  3  3  3  1  3  3  3
Q2    2  3  3  2  2  3  3  3  3  2
Q3    2  2  2  2  2  2  2  3  3  2
Q4    2  3  3  2  2  3  2  3  3  2
Q5    3  3  3  3  3  3  1  3  3  3
...  .. .. .. .. .. .. .. .. .. ..
Q96   3  3  3  2  3  3  2  3  3  3
Q97   3  3  2  2  3  3  3  3  3  3
Q98   2  2  2  2  2  3  2  2  2  2
Q99   3  3  2  2  2  3  3  2  3  2
Q100  2  2  2  2  2  3  2  1  3  3

[102 rows x 10 columns]

In [ ]:
results_T.iloc[101].value_counts(normalize=True)['2']

0.6

In [ ]:
#Count the 1, 2, and 3s per row per question
results_P = (results_T.apply(lambda x: x.value_counts(normalize=True), axis=1)
         .fillna(0)
         .astype(float))

In [ ]:
results_P

        1    2    3
Q1    0.1  0.0  0.9
Q2    0.0  0.4  0.6
Q3    0.0  0.8  0.2
Q4    0.0  0.5  0.5
Q5    0.1  0.0  0.9
...   ...  ...  ...
Q96   0.0  0.2  0.8
Q97   0.0  0.2  0.8
Q98   0.0  0.9  0.1
Q99   0.0  0.5  0.5
Q100  0.1  0.6  0.3

[102 rows x 3 columns]

In [ ]:
conditions = [
    (results_P['1'] > results_P['2']) & (results_P['1'] > results_P['3']),
    (results_P['2'] > results_P['1']) & (results_P['2'] > results_P['3']),
    (results_P['3'] > results_P['1']) & (results_P['3'] > results_P['2']),
    (results_P['1'] == results_P['2']),
    (results_P['2'] == results_P['3']),
    (results_P['1'] == results_P['3'])
]

choices = ['positive','neutral','negative', 'undecided', 'undecided', 'undecided']
results_P['Label'] = np.select(conditions, choices, default=np.nan)

In [ ]:
results_P['Label'].value_counts()

negative     51
neutral      38
undecided     9
positive      4
Name: Label, dtype: int64

In [ ]:
results_P.loc[results_P['Label']=='undecided']

       1    2    3      Label
Q4   0.0  0.5  0.5  undecided
Q41  0.5  0.0  0.5  undecided
Q53  0.0  0.5  0.5  undecided
Q63  0.2  0.4  0.4  undecided
Q65  0.0  0.5  0.5  undecided
Q70  0.0  0.5  0.5  undecided
Q76  0.0  0.5  0.5  undecided
Q91  0.2  0.4  0.4  undecided
Q99  0.0  0.5  0.5  undecided

In [ ]:
#Change undecided labels to either pos, neg, or neutral by use of an additional annotator
results_P.at['Q4','Label'] = 'neutral'
results_P.at['Q41','Label'] = 'negative'
results_P.at['Q53','Label'] = 'neutral'
results_P.at['Q63','Label'] = 'neutral'
results_P.at['Q65','Label'] = 'neutral'
results_P.at['Q70','Label'] = 'neutral'
results_P.at['Q76','Label'] = 'negative'
results_P.at['Q91','Label'] = 'neutral'
results_P.at['Q99','Label'] = 'neutral'

In [ ]:
results_P

        1    2    3     Label
Q1    0.1  0.0  0.9  negative
Q2    0.0  0.4  0.6  negative
Q3    0.0  0.8  0.2   neutral
Q4    0.0  0.5  0.5   neutral
Q5    0.1  0.0  0.9  negative
...   ...  ...  ...       ...
Q96   0.0  0.2  0.8  negative
Q97   0.0  0.2  0.8  negative
Q98   0.0  0.9  0.1   neutral
Q99   0.0  0.5  0.5   neutral
Q100  0.1  0.6  0.3   neutral

[102 rows x 4 columns]

In [ ]:
#put tweet text in dataframe
results_P['text'] = results.T[0]

In [ ]:
results_P = results_P[['text','1','2','3','Label']]

In [ ]:
results_P['Label'].value_counts()

negative    53
neutral     45
positive     4
Name: Label, dtype: int64

In [ ]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [ ]:
results_P.to_csv('Survey_Results_Labeled_Dec.csv')
!cp Survey_Results_Labeled_Dec.csv "/content/drive/My Drive/Colab Notebooks"

In [ ]:
#DONT NEED THIS 
#Count the 1, 2, and 3s per row per question
#df1 = (results_T.apply(lambda x: x.value_counts(), axis=1)
         #.fillna(0)
         #.astype(int))

In [ ]:
#from statsmodels.stats.inter_rater import fleiss_kappa
#fleiss_kappa(df1,method='fleiss')

0.2583195210117539

In [ ]:
df2 = results.drop([0])

In [ ]:
!pip install krippendorff
import krippendorff

Collecting krippendorff
  Downloading krippendorff-0.5.1-py3-none-any.whl (17 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from krippendorff) (1.21.6)
Installing collected packages: krippendorff
Successfully installed krippendorff-0.5.1

In [ ]:

df3 = df2.values.tolist()

In [ ]:
df4 = [[int(float(j)) for j in i] for i in df3]

In [ ]:
res = krippendorff.alpha(df4)

In [ ]:
res

0.24602453751648212